.dockerignore
docker-compose.yml
.docker/

# Created by .ignore support plugin (hsz.mobi)
### macOS template
# General
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# directories
.ionide/
.idea/
.vs/
.vscode/
.git/
.circleci/
.github/

**/bin/
**/obj/
**/TestResults/
**/out/
bin/
obj/
TestResults/
out/

# files
**/.env
**/.env.exemple
**/appsettings.Development.json
.env
.env.exemple
appsettings.Development.json

Dockerfile
Dockerfile*
**/*.md